<p id="notice"><%= notice %></p>

<p>
  <strong>Abbr:</strong>
  <%= @kind.abbr %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kind.description %>
</p>

<%= link_to 'Edit', edit_kind_path(@kind) %> |
<%= link_to 'Back', kinds_path %>
