<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @phone.prefix %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phone.number %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @phone.kind %>
</p>

<p>
  <strong>Client:</strong>
  <%= @phone.client %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
