<p id="notice"><%= notice %></p>

<h1>Listing Entries</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Date entry</th>
      <th>Amount</th>
      <th>Category entry</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%total_amount = 0.00%> #ver se dá pra declarar no model
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.description %></td>
        <td><%= entry.date_entry %></td>
        <td><%= entry.amount %></td>
        <td><%= entry.category_entry %></td>
        <td><%= entry.client %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% total_amount = entry.amount + total_amount %>
    <% end %>
  </tbody>
</table>
<br>
<%= total_amount %>
<br>

<%= link_to 'New Entry', new_entry_path %>
