<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<p>
  <strong>Date entry:</strong>
  <%= @entry.date_entry %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @entry.amount %>
</p>

<p>
  <strong>Category entry:</strong>
  <%= @entry.category_entry %>
</p>

<p>
  <strong>Client:</strong>
  <%= @entry.client %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
