<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @partner.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @partner.phone %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @partner.capital %>
</p>

<p>
  <strong>Client:</strong>
  <%= @partner.client %>
</p>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
