<div class="basic-grey">
<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codDesc %><br>
    <%= f.number_field :codDesc %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :CNAE %><br>
    <%= f.number_field :CNAE %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :capital %><br>
    <%= f.text_field :capital %>
  </div>
  <div class="field">
    <%= f.label :kind_id %><br>
    <%= collection_select(:client,:kind_id,@kind_options_for_select,:id,:description) %>
  </div>

  <%= f.fields_for :address do |address_fields| %>
   <div class="field">
     <%=address_fields.label :street %><br>
     <%= address_fields.text_field :street,size:70 %>
   </div>
   <div class="field">
     <%= address_fields.label :city %><br>
     <%= address_fields.text_field :city %></div>
   <div class="field">
     <%= address_fields.label :state %><br>
     <%= address_fields.text_field :state %></div>
  <% end %>

     <div id="phones">
       Phones:<br>
       <%= link_to_add_association('Adicionar telefone',f,:phones,'data-association-insertion-method' => 'after') %>

       <%= f.fields_for :phones do |phones_fields| %>
          <%= render partial: 'phone_fields', locals: { f: phones_fields } %>
     </div>

  <% end %>





  <div class="actions">
    <%= f.submit "Enviar", class:"button"  %>
  </div>
<% end %>
</div>
