<div class="nested-fields">

    <div class="field">
        <%= f.text_field :prefix, class:'phone-prefix' %> - <%= f.text_field :number, class:'phone-number'%> - <%= f.text_field :kind,class:'phone-number' %> (<%= link_to_remove_association('Remover',f)%>)
    </div>


</div>
