<div class="basic-grey">
  <p id="notice"><%= notice %></p>

  <h1>Listing Clients</h1>
<div class="index">
  <table>
    <thead>
      <tr>
        <th>Coddesc</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Kind</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr style="background:<%= cycle('#FFF','#E1EEF4') %>">
          <td><%= client.codDesc %></td>
          <td><%= client.name %></td>
          <td><%= client.brand.capitalize %></td>
          <td><%= client.kind.abbr %></td>
          <td><%= link_to 'Show', client %></td>
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br><%= paginate @clients%>
</div>
  <br>
</div>

<%= link_to 'New Client', new_client_path %>
