<div class="basic-grey">
<p id="notice"><%= notice %></p>
<div class="show-fields">
<p>
  <strong>Coddesc:</strong>
  <%= @client.codDesc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @client.brand %>
</p>

<p>
  <strong>Cnae:</strong>
  <%= @client.CNAE %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Site:</strong>
  <%= @client.site %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @client.capital %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @client.kind.abbr %> - <%= @client.kind.description %>
</p>
</div>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
</div>
