<%= form_for(@kind_entry) do |f| %>
  <% if @kind_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kind_entry.errors.count, "error") %> prohibited this kind_entry from being saved:</h2>

      <ul>
      <% @kind_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
