<p id="notice"><%= notice %></p>

<h1>Listing Kind Entries</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kind_entries.each do |kind_entry| %>
      <tr>
        <td><%= kind_entry.description %></td>
        <td><%= link_to 'Show', kind_entry %></td>
        <td><%= link_to 'Edit', edit_kind_entry_path(kind_entry) %></td>
        <td><%= link_to 'Destroy', kind_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kind entry', new_kind_entry_path %>
