<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @kind_entry.description %>
</p>

<%= link_to 'Edit', edit_kind_entry_path(@kind_entry) %> |
<%= link_to 'Back', kind_entries_path %>
