<%= form_for(@category_entry) do |f| %>
  <% if @category_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_entry.errors.count, "error") %> prohibited this category_entry from being saved:</h2>

      <ul>
      <% @category_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kind_entry_id %><br>
    <%= f.text_field :kind_entry_id %>
  </div>
  <div class="field">
    <%= f.label :category_entry_id %><br>
    <%= f.text_field :category_entry_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
