<p id="notice"><%= notice %></p>

<h1>Listing Category Entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind entry</th>
      <th>Category entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_entries.each do |category_entry| %>
      <tr>
        <td><%= category_entry.name %></td>
        <td><%= category_entry.kind_entry %></td>
        <td><%= category_entry.category_entry %></td>
        <td><%= link_to 'Show', category_entry %></td>
        <td><%= link_to 'Edit', edit_category_entry_path(category_entry) %></td>
        <td><%= link_to 'Destroy', category_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category entry', new_category_entry_path %>
