<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category_entry.name %>
</p>

<p>
  <strong>Kind entry:</strong>
  <%= @category_entry.kind_entry %>
</p>

<p>
  <strong>Category entry:</strong>
  <%= @category_entry.category_entry %>
</p>

<%= link_to 'Edit', edit_category_entry_path(@category_entry) %> |
<%= link_to 'Back', category_entries_path %>
